{% extends 'login_base.html' %}


{% block content %}
    <form class="login-form" method="POST" action="{% url 'signup_form' %}">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="first_name" name='first_name' placeholder="First Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="last_name" name='last_name' placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name='email' placeholder="Email" required>
        </div>
        <div style="border-top: 1px solid #dde; padding-top: 1em;">
            <p class="text-center"><strong>Login Details</strong></p>
            <div class="form-group">
                <input type="text" class="form-control" id="username" name='username' placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" name='password' placeholder="Password" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="confirm_pass" name='confirm_pass'placeholder="Confirm Password" required>
                <small><p class="msg" id="msg"></p></small>
            </div>
        </div>        
        <button type="submit" class="btn btn-secondary btn-block" id="submit_btn" disabled>Submit</button>
    </form>
    <br>
    <p class="text-center">
        <small>
            Have an account? <a href="{% url 'login' %}">Login</a><br>
            <a href="/">Back to Home</a>
        </small>
    </p>

{% endblock %}

{% block js %}
    <script>
        $("#confirm_pass").change(function() {
            var pwd = $('#password').val()
            var confirm_pwd = $('#confirm_pass').val()
            if (pwd == confirm_pwd){
                $('#msg').text("Password matched").css({"color": "green"})
                $("#submit_btn").attr("disabled", false)
            }else{
                $('#msg').text("Password didn't matched").css({"color": "red"})
                $("#submit_btn").attr("disabled", true)
            }
        });
    </script>
{% endblock %}